body {
    overflow-y: scroll;
}
.mt-30 {
    margin-top: 50px;
}

.align-content-center1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-80 {
    height: 80vh;
}

.label-item {
    font-size: 14px;
}

.login-link {
    color: #0d6efd;
}

.primary-btn {
    color: #fff !important;
    background-color: #0291D9 !important;
    padding: 3px 15px;
    &.btn.disabled {
            opacity: 0.5 !important;
    }
}

.primary-btn:hover,
.secondary-btn:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.secondary-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #c6c6c6 !important;
    padding: 3px 15px;
}

.text-color-primary {
    color: #0291D9;
}

.fill-blue-600 {
    fill: #0291D9;
}

.b-logo {
    color: #0291D9;
    font-weight: 600;
    font-size: 24px;
}

.title {
    color: #576269;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px !important;
}

.title-secondary {
    color: #576269;
    font-size: 16px;
    font-weight: 500;
}

.card-title {
    color: #576269;
    font-size: 16px;
    font-weight: 500;
}

.card-text {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
}

input {
    background-color: #f9f9f9 !important;
    border: none !important;
}

input.form-control {
    font-size: 12px;
    color: #000;
    padding: 15px 15px;
}

.jc-sb {
    display: flex;
    justify-content: space-between;
}

.p-30 {
    padding: 5px 30px;
}

.title.mb-0 {
    margin-bottom: 0px !important;
}

.error-msg {
    position: absolute;
    top: 50px;
}

.nav-item .nav-link {
    color: #576269;
}

.user-image {
    width: 50px;
    margin-top: 15px;
    margin-left: 30px;
}

.card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.time-text {
    position: absolute;
    right: 15px;
}

.btn-follow {
    position: absolute;
    right: 15px;
    top: 20px;
}

.w-100 {
    width: 140px !important;
    display: inline-block;
}

.bt-1 {
    border-top: 1px solid #ccc;
}

.tabnav.active {
    border-top: 3px solid #0291D9;
}

button.tabnav {
    border-top: 3px solid #fff;
}

.read-more {
    position: absolute;
    bottom: 5px;
}

.mt-5 {
    margin-top: 5px !important;
}

.cardStyle {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 15px !important;
    border-radius: 10px;
}

nav a.active.nav-item .nav-link {
    color: #0291D9;
}

.eye-icon {
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
}

.post-list.hidden {
    display: none;
}

.model-center-style {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.model-bg {
    background-color: #888b93;
    height: 100vh;
}

.edit-icon {
    width: 15px;
    height: 15px;
}

.option-icons {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    right: 0px;
}

.message-style {
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.secondary-color {
    color: #6b7280;
}

.profile-img img{
    object-fit: cover;
}
.profile-img .camera-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}
.justify-content-sp {
    display: flex;
    justify-content: space-between;
}
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    img {
        width: 200px;
        cursor: pointer;
    }
    &.add-tweet {
        img {
            width: 200px;
        }
    }
}   
.post-image {
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 30px;
    img {
        margin: auto;
        width: 300px;
    }
}
.profile-page {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 0px;
    justify-content: space-between;
    align-items: center;
    .profile-page-img {
        width: 190px;
        height: 190px;
        object-fit: cover;
    }
    .w-12 {
        width: 6rem;
    }
    .h-12 {
        height: 6rem;
    }
    .leading-6 {
        line-height: 3.5rem;
    }
    .text-sm {
        font-size: 20px;
    }
    .text-xs {
        font-size: 16px;
    }
}